<div class="invoice-container">
    <h1>Invoice</h1>
    <div *ngIf="loading" class="loading-message">Loading invoice...</div>
    <div *ngIf="error" class="error-message">Error: {{ error }}</div>
  
    <div *ngIf="!loading && !error && invoice!=null">
      <div class="invoice-details">
        <h2>Invoice Details</h2>
        <p><strong>Invoice ID:</strong> {{ invoice.id }}</p>
        <p><strong>Invoice Date:</strong> {{ invoice.invoiceDate}}</p>
        <p><strong>Shipping Cost:</strong> {{ invoice.shippingCost | currency }}</p>
        <p><strong>Tax:</strong> {{ invoice.tax | currency }}</p>
        <p><strong>Total Amount:</strong> {{ invoice.totalAmount | currency }}</p>
        </div>
    </div>
  </div>  